.dashboard {
    display: flex;
}
.dashboard__left {
    width: 200px;
    height: 100vh;
    background-color: black;
}
.dashboard__right {
    flex-grow: 1;
}
.dashboard__website-title {
    width: 100%;
    height: 6rem;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: .5px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem;
}
.dashboard__item-library,
.dashboard__item-store {
    width: 100%;
    height: 4rem;
    color: #FFFFFF;
    border-bottom: .5px solid #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard__item-library > img,
.dashboard__item-store > img{
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(116deg) brightness(109%) contrast(109%);
}
.dashboard__item-library:hover,
.dashboard__item-store:hover {
    color: #ff90e8;
}
.dashboard__item-library:hover > img,
.dashboard__item-store:hover > img {
    filter: brightness(0) saturate(100%) invert(85%) sepia(14%) saturate(7293%) hue-rotate(282deg) brightness(108%) contrast(100%);
}
.dashboard__header {
    height: 10rem;
    width: 100%;
    font-size: 2rem;
    padding-left: 2rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}