.product__container {
    width: 1200px;
    margin: 1rem auto;
}
.product__image {
    width: 100%;
    max-height: 900px;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.product__image img {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}
.product__content {
    width: 100%;
    display: flex;
    font-size: 1rem;
    border: 1px solid black;
}
.product__name {
    font-size: 2rem;
    border-bottom: 1px solid black;
    padding: 1rem;
}
.product__detail {
    width: 65%;
}
.product__purchase {
    width: 35%;
    border-left: 1px solid black;
}
.product__price,
.product__seller,
.product__rating {
    display: inline-block;
    padding: 1rem;
}
.product__seller {
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.product__seller > a {
    color: inherit;
}
.product__description {
    border-top: 1px solid black;
    padding: 1rem;
}
.product__add-to-cart-btn,
.product__add-commission {
    width: calc(100% - 2rem);
    font-size: 1rem;
    padding: .5rem;
    margin: 1rem;
    background-color: #ff74f9;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
    display: none;
}
.product__add-to-cart-btn:hover,
.product__add-commission:hover {
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    transform: translate(-3px, -3px);
}
.product__spec-container {
    border: 1px solid black;
    border-radius: 3px;
    margin: 0 1rem;
}
.product__spec {
    font-weight: 700;
    border-bottom: 1px solid black;
    padding: 1rem;
}
.product__size {
    font-weight: 700;
    padding: 1rem;
}
.testimonial {
    border-top: 1px solid black;
    padding: 1rem;
    margin-top: 1rem;
}
.testimonial__container {
    border-bottom: 1px solid black;
    padding: 1rem;
}
.testimonial__content {
    margin: .5rem 0;
}
.testimonial__viewer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rating__star-0 {
    width: 1rem;
    height: 1rem;
    stroke: black;
    stroke-width: 50px;
    fill: white;
    margin-right: 2px;
}
.rating__star-1 {
    width: 1rem;
    height: 1rem;
    stroke: black;
    stroke-width: 50px;
    fill: #f0ff43;
    margin-right: 2px;
}
@media (max-width: 1200px) {
    .product__container {
        width: 90%;
    }
}