* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__container {
    width: 1200px;
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__title {
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}
.header__search {
    flex-grow: 1;
    height: 40px;
    margin: 0 24px;
    display: flex;
    align-items: center;
    position: relative;
}
.header__search-input {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    padding-left: 50px;
    font-size: 1rem;
}
.header__search-icon {
    position: absolute;
    left: 20px
}
.header__search-icon, 
.header__cart-icon {
    width: 20px;
    height: 20px;
}
.header__search-icon > img, 
.header__cart-icon > img {
    width: 100%;
    height: 100%;
}
.header__search-icon {
    opacity: .3;
}
.header__cart-icon {
    cursor: pointer;
}
.header__member {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-left: 1rem;
    display: none;
}
.header__member > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
}
.header__login {
    cursor: pointer;
    margin-left: 1rem;
}
.header__logout {
    cursor: pointer;
    margin-left: 1rem;
    display: none;
}
.background-mask {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 10%;
    display: none;
    justify-content: center;
    background-color: #fff;
}
.login {
    width: 30%;
    display: none;
}
.login__leave-btn {
    cursor: pointer;
}
.login__username,
.login__password,
.login__submit-btn {
    width: 100%;
    height: 2rem;
    margin-bottom: .5rem;
}
.login__username > input,
.login__password > input {
    width: 100%;
    height: 100%;
    padding-left: .5rem;
}
.login__submit-btn {
    cursor: pointer;
}